.create
    background: linear-gradient(90deg, #190D71 0%, #770583 100%)
    padding-bottom: 50px
    &-logo
        padding-top: 300px
        padding-bottom: 170px
    &-content
        display: flex
        flex-direction: column
    &-input
        width: 100%
        background-color: transparent 
        border: 1px solid #EFEFEF
        color: #EFEFEF
    &-password
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 50px
        color: rgba(207, 206, 206, 1) !important
       
        margin-bottom: 90px
    &-button
        background-color: #D4D2FF
        border-radius: 10px
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 60px
        color: rgba(64, 10, 121, 1)
        width: 100%
        padding-top: 81px 
        padding-bottom: 81px
        &:hover
            box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25)
    &-now
        margin-top: 39px
        color: $white
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 60px
    &-title
        font-family: 'Philosopher', sans-serif
        font-weight: 400
        font-size: 80px
        line-height: 121px
        color: $white
    &-buttons
        display: flex
        justify-content: space-between
        margin-top: 230px
        margin-bottom: 310px
    &-button-choose
        width: 45%
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 60px
        
        padding-top: 38px
        padding-bottom: 38px
        background-color: #D4D2FF
        border-radius: 10px
        color: rgba(64, 10, 121, 1)
        &:hover
            box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25)
    &-description
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 60px
        color: $white
        margin-bottom: 120px
    &-qr
        height: 536px
        margin-bottom: 500px
.create-now a
    color: #990CB0
.create-logo img
    height: 100%
.create-qr img
    height: 100%