.header
    background: url('../img/header/bg.png')  top left / contain no-repeat,linear-gradient(180deg, #03266A 9.77%, #510A63 99.99%, #6B0974 100%)
    background-size: 100%   
    mix-blend-mode: normal
    box-shadow: 36px 39px 14px -28px rgba(0, 0, 0, 0.25)
    padding-bottom: 59px
    &-button
        margin: auto
        margin-top: 82px
        background: linear-gradient(90deg, #3A10B5 1.14%, #A00093 85.89%)
        color: $white
        padding: 30px 143px
        max-width: 559px 
        border: none
        border-radius: 56.1398px
        font-family: 'Roboto', sans-serif
        font-size: 53px
        &:hover
            outline: none
            filter: drop-shadow(0 6px 8px rgba(0,0,0,.25))
    &-menu
        padding-top: 60px
    &-social
        display: flex
        flex-direction: column
    &-social
        &-item
            height: 39.27px
            width: 48px
            margin-bottom: 33.54px
    &-social
        &-item img
            width: 100%
            height: 100%
    &-content
        margin-top: -160px
        margin-bottom: 524px
        &-text
            display: flex
            flex-direction: column
            &-logo 
                display: flex
                justify-content: center
            &-title
                font-family: 'Philosopher', sans-serif
                text-align: center
                color: $white
                font-weight: 400
                font-size: 120px
                line-height: 86.5%
                letter-spacing: 0.015em
            &-description
                text-align: center
                margin-top: 20px
                color: $purpure
                font-family: 'Roboto', sans-serif
                font-size: 41px
                line-height: 107.5%
                letter-spacing: 0.015em
                font-weight: normal
    &-card
        padding: 80px 215px 94px 211px
        background-color: $purpurecard
        color: $white
        border-radius: 56.14px
        text-align: center
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: 69px
        line-height: 80px
        margin-left: 80px
        margin-right: 80px
        margin-bottom: 85px
        &:hover
            outline: none
            filter: drop-shadow(0 6px 8px rgba(0,0,0,.25))
