.product
    padding-top: 155px
    padding-bottom: 155px
    &-card
        &-descripton
            font-family: 'Roboto', sans-serif
            font-weight: 300
            font-size: 40px
            color: rgba(146, 146, 146, 1)
    &-button
        &-buy
            margin: 0
    &-description
        font-family: 'Roboto', sans-serif
        font-weight: 300
        font-size: 50px
        line-height: 58px
        margin-top: -130px
        &-text
            margin-top: 60px
    &-title
        &-description
            font-family: 'Roboto', sans-serif
            font-weight: 300
            color: rgba(153, 12, 176, 1)
            font-size: 50px
.product-description span
    color: rgba(91, 10, 120, 1)
    font-weight: 400
.product-img img
    width: 55%
//слайдер 
.swiper-container
    width: 100%
    height: 100%
    display: flex
    align-items: center
.swiper-slide
    background-size: cover
    background-position: center
    display: flex
    align-items: center
.gallery-top
    height: 900px
    width: 100%

.gallery-thumbs
    margin-top: 140px
    height: 20%
    box-sizing: border-box
    padding: 25px 0
    padding-bottom: 70px
.gallery-thumbs .swiper-slide
    width: 25%
    height: 100%
    opacity: 0.4
    margin-left: 30px
.gallery-thumbs .swiper-slide-thumb-active
    opacity: 1

.product-card-slide
    margin: 50px
    margin: auto
    width: 93%
    height: 95%
.product-card
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 363px
// .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after
//     background: url('../img/product/Next.png') 0 0 no-repeat !important
//     height: 30px
//     width: 30px
//     z-index: 10
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after
    display: none
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after
    display: none
.slide-button-next
    margin-right: 190px
.slide-button-back
    margin-left: 190px
.gallery-thumbs .swiper-slide-thumb-active
    background: url('../img/item/ok.png') 10% 15% no-repeat
    color: rgba(91, 10, 120, 1)
.catalog-card-img
    position: relative
.slide-text
    position: absolute
    bottom: -80px
    font-size: 30px
    font-family: 'Quicksand', sans-serif
    font-weight: 500